<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Controller.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPass</servlet-name>
  	<display-name>ForgotPass</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Controller.ForgotPass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserProfile</servlet-name>
  	<display-name>UserProfile</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Controller.UserProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Suppliers</servlet-name>
  	<display-name>Suppliers</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Beans.Suppliers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManageSupplierList</servlet-name>
  	<display-name>ManageSupplierList</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Controller.ManageSupplierList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Supplier</servlet-name>
  	<display-name>Supplier</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Controller.Supplier</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SupplierList</servlet-name>
  	<display-name>SupplierList</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Controller.SupplierList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>stockDB</servlet-name>
  	<display-name>stockDB</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Controller.stockDB</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBrand</servlet-name>
  	<display-name>AddBrand</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Controller.AddBrand</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProduct</servlet-name>
  	<display-name>AddProduct</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Controller.AddProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateProduct</servlet-name>
  	<display-name>CreateProduct</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Controller.CreateProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductEdit</servlet-name>
  	<display-name>ProductEdit</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Controller.ProductEdit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductList</servlet-name>
  	<display-name>ProductList</display-name>
  	<description></description>
  	<servlet-class>com.Megathlon.Controller.ProductList</servlet-class>
  </servlet>
   <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>Register</servlet-name>
   	<url-pattern>/Register</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>ForgotPass</servlet-name>
   	<url-pattern>/ForgotPass</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>UserProfile</servlet-name>
   	<url-pattern>/UserProfile</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>Suppliers</servlet-name>
   	<url-pattern>/Suppliers</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>ManageSupplierList</servlet-name>
   	<url-pattern>/ManageSupplierList</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>Supplier</servlet-name>
   	<url-pattern>/Supplier</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>SupplierList</servlet-name>
   	<url-pattern>/SupplierList</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>stockDB</servlet-name>
   	<url-pattern>/stockDB</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>AddBrand</servlet-name>
   	<url-pattern>/AddBrand</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>AddProduct</servlet-name>
   	<url-pattern>/AddProduct</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>CreateProduct</servlet-name>
   	<url-pattern>/CreateProduct</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>ProductEdit</servlet-name>
   	<url-pattern>/ProductEdit</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>ProductList</servlet-name>
   	<url-pattern>/ProductList</url-pattern>
   </servlet-mapping>
</web-app>
